<form id="form" name="form" action="/GetUserDocuments" enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="FileType" class="control-label">File Type</label>
                <select id="ddlFileType" for="FileType" class="form-control DDFilter">
                   
                </select>
                <span validation-for="Passport" class="text-danger"></span>
            </div>
        </div>
        <div id="divCNIC" class="col-md-4">
            <div class="form-group">
                <label for="CNIC" class="control-label">CNIC</label>
                <input id="txtCNIC" for="CNIC" max="25" class="form-control" />
                <span validation-for="CNIC" class="text-danger"></span>
            </div>
        </div>
        <div id="divPassport" class="col-md-4">
            <div class="form-group">
                <label for="Passport" class="control-label">Passport</label>
                <input id="txtPassport" for="Passport" max="25" class="form-control" />
                <span validation-for="Passport" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div id="divSearch" class="col-md-4">
            <div class="form-group">    
                <input type="button" value="Search" onclick="getUserDocuments();" class=" btn-primary form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input id="files" name="files" type="file" value="Upload File" class="form-control" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" value="Upload" onclick="uploadFiles('files');" class=" btn-primary form-control" />
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th style="display:none;">Record Id (PK)</th>
                <th>File Name</th>
                <th>Upload Date</th>
                <th>File Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbdDocumentUploads">

           

        </tbody>
    </table>
</form>
<script type="text/javascript">
    $(document).ready(function () {
        let cnic = document.getElementById("Cnic") ? document.getElementById("Cnic").value : null;
        if (cnic) {
            document.getElementById("txtCNIC").value = cnic;
            $("#divCNIC").hide();
            $("#divSearch").hide();
            $("#divPassport").hide();
        }
        getUserDocuments();

    });
    function getUserDocuments() {
        var cnic = document.getElementById("txtCNIC").value;
        var passport = document.getElementById("txtPassport").value;
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetUserDocuments", "CandidateDocument")',
            data: { "Cnic": cnic, "passport": passport },
            dataType: "json",
            success: function (data, status) {
                debugger;
                var $dropdown = $("#ddlFileType");
                $dropdown.find('option')
                    .remove()
                    .end()
                    .append('<option value="-1">Select File Type</option>')
                    .val('whatever')
                $.each(data.fileType, function () {
                    $dropdown.append($("<option />").val(this.id).text(this.name));
                });
                $('#tbdDocumentUploads').empty();

                $.each(data.candidate.candidateDocument, function () {
                    $('#tbdDocumentUploads').append(
                        '<tr id=""> \
                        <td style = "display:none;"></td > \
                        <td>'+ this.fileName + '</td> \
                        <td>'+ this.uploadDate + '</td> \
                        <td>'+ this.fileTypeEntitySetup.name + '</td> \
                        <td><a href="#!" onclick="deleteDocument('+ this.id +')" style="margin - right: 5px;" ><i class="fas fa-trash-alt"></i>\
                            </a><a href="#!" onclick="downloadFile('+ this.id +')"  style="margin - right: 5px;" ><i class="fas fa-file-download"></i></a>\
                            <a href="#!" onclick="downloadFile('+ this.id +')" ><i class="fas fa-eye"></i></a> </td> \
                    </tr >');
                });



            },
            error: function () { alert('Error'); }
        });
    }
    function uploadFiles(inputId) {
        var cnic = document.getElementById("txtCNIC").value;
        var passport = document.getElementById("txtPassport").value;
        var fileType = document.getElementById("ddlFileType").value;
        if (fileType < 0) {
            alert("Please Select File Type");
            return;
        }
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();

        for (var i = 0; i != files.length; i++) {
            formData.append("files", files[i]);
        }

        formData.append("cnic", cnic);
        formData.append("passport", passport);
        formData.append("fileType", fileType);

        $.ajax(
            {
                url: '@Url.Action("UploadDocuments", "CandidateDocument")',
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (data) {
                    getUserDocuments();
                    clearInputFile(input);
                },
                error: function (data) {
                    alert(data.statusText);
                }
            }
        );
    }
    function clearInputFile(f) {
        if (f.value) {
            try {
                f.value = ''; //for IE11, latest Chrome/Firefox/Opera...
            } catch (err) { }
            if (f.value) { //for IE5 ~ IE10
                var form = document.createElement('form'),
                    parentNode = f.parentNode, ref = f.nextSibling;
                form.appendChild(f);
                form.reset();
                parentNode.insertBefore(f, ref);
            }
        }
    }
    function deleteDocument(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteDocument", "CandidateDocument")',
            data: { "documentId": id },
            dataType: "json",
            success: function (data, status) {
                getUserDocuments();
            },
            error: function () { alert('Error'); }
        });
    }
    function downloadFile(id) {
        alert('ali');
        window.open('@Url.Action("Download", "CandidateDocument")' + "?documentId=" + id, '_blank');
    }
</script>
